<div class="row row-cols-1 row-cols-md-4 g-4">
    @for ( prod of filteredProducts; track prod.id ; let i = $index) {
    <div class="col">
        <div class="card">
            <img [src]="prod.imgUrl" class="card-img-top" alt="...">
            <div class="card-body" appMyCustomDirective="lightblue" extgernalColor="pink"> <!-- custom directive -->
                <!--passed color as input there -->
                <h5 class="card-title">{{prod.name}}</h5>
                <p class="card-text">price : {{prod.price | currency : "EUR" : 'code' }}</p>
                <!-- using currency pipe -->
                @switch (prod.quantity) {
                @case (1) {
                <p>quantity : last Item </p>
                }
                @case (2) {
                <p>quantity : last Two Items </p>
                }
                @default {
                <p>quantity : {{prod.quantity}} </p>
                }
                }
                <!-- <input type="number" #count style="margin-right: 5px;" />
                <button class="btn btn-success" (click)="calculateTotalPrice(count.value , prod.price)">Buy</button> -->

                <!-- <button class="btn btn-success" routerLink="/Details"> Details </button> -->
                 <!-- binding of routerlink because of dynamic variable id -->
                <button class="btn btn-success" [routerLink]="['/Details' , prod.id]"> Details </button>
                
                <!-- <button class="btn btn-success" (click)="navigateToDetails()"> Details </button> -->
                <!-- <button class="btn btn-success" (click)="navigateToDetails(prod.id)"> Details </button> -->
            </div>
        </div>
    </div>
    }
</div>









<!-- <h1>total order price : {{totalOrderPrice}}</h1>
 <h2>selected Category Id : {{selectedCategoryId}}</h2> 


<div class="mb-3">
    <label for="" class="form-label">category</label>
    <select class="form-select form-select-lg" name="" id="" [(ngModel)]="selectedCategoryId">
        <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
    </select>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @for ( prod of products; track prod.id ; let i = $index) {
     <ng-container *ngFor="let prod of products; let i=index ; let c = count ; trackBy:trackItem"> -->
<!-- <div class="col" *ngFor="let prod of products" [class.d-none]="prod.catId != selectedCategoryId"> to filter selected items  -->
<!-- <div class="col" [class.d-none]="prod.catId != selectedCategoryId" *ngIf="prod.quantity != 0"> 
    <div class="col">
        <div class="card" [ngStyle]="{border : (prod.quantity == 1)? '1px solid red' : '1px solid'}">
            <img [src]="prod.imgUrl" class="card-img-top" alt="...">
            <div class="card-body" [ngClass]="(prod.quantity == 1 )? 'text-danger' : '' "
                [style.background-color]="(prod.quantity == 0) ? 'yellow' : 'white' ">
                <h5 class="card-title">{{prod.name}}</h5>
                <p class="card-text">price : {{prod.price}}</p>
                <p class="card-text" *ngIf="prod.quantity != 1 ; else lastItem">quantity : {{prod.quantity}}</p>
                        <ng-template #lastItem>
                            <p>quantity : last Item</p>
                        </ng-template> 
                @switch (prod.quantity) {
                @case (1) {
                <p>quantity : last Item </p>
                }
                @case (2) {
                <p>quantity : last Two Items </p>
                }
                @default {
                <p>quantity : {{prod.quantity}} </p>
                }
                }
                 <div [ngSwitch]="prod.quantity">
                            <p *ngSwitchCase="1">quantity : last Item </p>
                            <p *ngSwitchCase="2">quantity : last 2 Items </p>
                            <p *ngSwitchDefault="">quantity : {{prod.quantity}} </p>
                        </div> 
                <input type="number" #count style="margin-right: 5px;" />
                <button class="btn btn-success" (click)="calculateTotalPrice(count.value , prod.price)">Buy</button>
            </div>
        </div>
    </div>
     </ng-container> 
    }
</div> -->